.colorBrown {
  color: brown;
}

.fontBold {
  font-weight: bold;
}

.Button {
  background-color: #c35800;
  font-family: 'arial';
  font-weight: bold;
  color: white;
  border: 1px solid #96541e;
  padding: 10px;
  box-shadow: 2px 2px 5px #eee;
}

.Button:hover {
  background-color: salmon;
  color: black;
}

.Button.showPersons {
  background-color: #076565;
  color: white;
  border: none;
}

.Button.showPersons:hover {
  background-color: #28c8c8;
  color: black;
  border: none;
}
